
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 box">
                <h2 class="mb-5">Register new account</h2>
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name">Account</label>
                            <input type="text" id="name" class="form-control" name="Account">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name">Password</label>
                            <input type="password" id="name" class="form-control" name="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name">Confirm Password</label>
                            <input type="password" id="name" class="form-control" name="ConfirmPassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name">Email Address</label>
                            <input type="text" id="name" class="form-control" name="Emai">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Register" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
