@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="site-section">

    <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
            <h2>FACULTY - TRAINING INSTITUTE</h2>
            <p class="lead">These are all faculty training of HUST.</p>
        </div>
    </div>

    <div class="container">

        <!--All FACULTY - TRAINING INSTITUTE-->
        <section class="school-features text-dark d-flex">
            <div class="inner">
                <!--School of Elecomics and Telecomics-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/SET_LOGO_xsmall.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://set.hust.edu.vn/">School of Elecomics and Telecomics</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick"> C9 - 405 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">  024 3869 2242 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Fax:
                            <label style="color:firebrick">  024 3 8692241 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://set.hust.edu.vn/" style="color:firebrick">https://set.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--Faculty of national defence - security education-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/qpan.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://gdqp.hust.edu.vn/home">Faculty of national defence - security education</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C10-302</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">024 3869 2031</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" /> &nbsp;Website:<br />
                            <a href="https://gdqp.hust.edu.vn/home" style="color:firebrick">https://gdqp.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--Faculty of physical education-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/physical.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://gdtc.hust.edu.vn/trang-chu">Faculty of physical education</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">2nd Floor - </label><label style="color:firebrick">Bach Khoa Gymnasium</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">024 3868 4922/ </label><label style="color:firebrick">3869 2811</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://gdtc.hust.edu.vn/trang-chu" style="color:firebrick">https://gdtc.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--Department of political education-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/dpt.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a id="idlink" href="https://dpt.hust.edu.vn/don-vi-01">Department of political education</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">D3 - 306</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">024 3869 2105/ </label><label style="color:firebrick">024 3868 4401</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a id="idlink" href="https://dpt.hust.edu.vn/don-vi-01" style="color:firebrick">https://dpt.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Mechanical Engineering-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/sme.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://sme.hust.edu.vn/">School of Mechanical Engineering</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C10 - 304</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 38 680585 - </label><label style="color:firebrick">Fax: 024 38680585</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://sme.hust.edu.vn/" style="color:firebrick">https://sme.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Transportation Engineering-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/ste.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://ste.hust.edu.vn/">School of Transportation Engineering</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C6 - 102</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 3868 4944 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Fax:
                            <label style="color:firebrick"> 024 3868 4945 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://ste.hust.edu.vn/" style="color:firebrick">https://ste.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Biotechnology and Food Technology-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/sbft.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="http://sbft.hust.edu.vn/">School of Biotechnology and Food Technology</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C4 - 210</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 3868 2470/ </label><label style="color:firebrick">3869.2515</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Fax:
                            <label style="color:firebrick"> 024 3868 2470 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="http://sbft.hust.edu.vn/" style="color:firebrick">https://sbft.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Information Communication and Technology-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/SoICT.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://soict.hust.edu.vn">School of Information Communication and Technology</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">B1-504</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 38 692 463 - </label><label style="color:firebrick">Fax: 024 38692906</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://soict.hust.edu.vn" style="color:firebrick">soict.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Textile - Leather & Fashion-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/stlf.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://bktextile.hust.edu.vn/trang-chu">School of Textile - Leather & Fashion</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C5-216</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 38 692 401 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />&nbsp;Website:<br />
                            <a href="https://bktextile.hust.edu.vn/trang-chu" style="color:firebrick">bktextile.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Evironmental Science and Technology-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/inest.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://inest.hust.edu.vn/">School of Evironmental Science and Technology</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C10 - 312</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">024 3868 1686</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Fax:
                            <label style="color:firebrick">024 3.869 3551</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://inest.hust.edu.vn/" style="color:firebrick">inest.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Heat Engineering and Refrigeration-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/sheer.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://sheer.hust.edu.vn/">School of Heat Engineering and Refrigeration</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C7 - T2- 204</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">024 3868 2625</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Fax:
                            <label style="color:firebrick">024 3868 4945</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />&nbsp;Website:<br />
                            <a href="https://sheer.hust.edu.vn/" style="color:firebrick">https://sheer.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of of Materials Science and Engineering-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/mse.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://mse.hust.edu.vn/trang-chu">School of of Materials Science and Engineering</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C5 -315</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">024 38 680 409</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://mse.hust.edu.vn/trang-chu" style="color:firebrick">https://mse.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Elecomics and Management-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/sem.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://sem.hust.edu.vn/">School of Elecomics and Management</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C9 - 303,304</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 38 692 304/ </label>
                            <label style="color:firebrick"> 3868.0791 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://sem.hust.edu.vn/" style="color:firebrick">https://sem.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Nuclear Engineering and Evironmental Physics-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/sneep.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://sneep.hust.edu.vn/home">School of Nuclear Engineering and Evironmental Physics</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C10 - T4</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024.3623.1449/ </label>
                            <label style="color:firebrick"> 3623.1450 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />&nbsp;Website:<br />
                            <a href="https://sneep.hust.edu.vn/home" style="color:firebrick">https://sneep.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Chemical Engineering-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/schemical.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="http://chemeng.hust.edu.vn">School of Chemical Engineering</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C4 - 214</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 38 680 070/ </label>
                            <label style="color:firebrick"> 3869 2300 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="http://chemeng.hust.edu.vn" style="color:firebrick">https://chemeng.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--Institute for Control Engineering and Automation-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/icea.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://icea.hust.edu.vn/trang-chu">Institute for Control Engineering and Automation</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">T2 - Tòa nhà công nghệ cao</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 3868 3518 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://icea.hust.edu.vn/trang-chu" style="color:firebrick">https://icea.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Foreign Languages-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/sofl.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://sofl.hust.edu.vn/trang-chu">School of Foreign Languages</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">D4 - 209</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 3869 2201 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://sofl.hust.edu.vn/trang-chu" style="color:firebrick">https://sofl.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Engineering Padagory-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/feed.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="http://feed.hust.edu.vn/">School of Engineering Padagory</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">D3-5-301</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick"> 024 3868.1432 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="http://feed.hust.edu.vn/" style="color:firebrick">https://feed.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Applied Mathematics and Informatics-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/sami.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="http://sami.hust.edu.vn/">School of Applied Mathematics and Informatics</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">D3 - 105A</label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">  024 38692137 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Fax:
                            <label style="color:firebrick">  024 37547860 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="http://sami.hust.edu.vn/" style="color:firebrick">https://sami.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Engineering Physics-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/sep.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://sep.hust.edu.vn/home">School of Engineering Physics</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick">C10-101  </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">  024 3869 3350 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Fax:
                            <label style="color:firebrick">  024 3869 3498 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://sep.hust.edu.vn/home" style="color:firebrick">https://sep.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

                <!--School of Electrical Engineering-->
                <div class="media d-block feature">
                    <div class="ion"><img src="~/LayoutPage/images/see.jpg" id="idIconImage" /></div>
                    <div class="media-body">
                        <h3 class="mt-0"><a href="https://see.hust.edu.vn/trang-chu">School of Electrical Engineering</a></h3>
                        <hr />
                        <div>
                            <img src="~/LayoutPage/images/home.jpg" id="iconImage" /> &nbsp; Office:
                            <label style="color:firebrick"> C1 - 320  </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Phone:
                            <label style="color:firebrick">  024 3869 6211 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/phone.jpg" id="iconImage" />  &nbsp; Fax:
                            <label style="color:firebrick">  024 3623 1478 </label>
                        </div>
                        <div>
                            <img src="~/LayoutPage/images/website.jpg" id="iconImage" />  &nbsp; Website:<br />
                            <a href="https://see.hust.edu.vn/trang-chu" style="color:firebrick">https://see.hust.edu.vn</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
</section>
